<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC 
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<!--  DataSource 설정 -->
		<property name="hibernate.connection.driver_class">
			org.h2.Driver</property>
		<property name="hibernate.connection.url">
			jdbc:h2:tcp://localhost/./test</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password">sa</property>
		<property name="hibernate.connection.pool_size">1</property>

		<!-- 하이버네이트 프로퍼티 설정 -->
		<!-- 하이버네이트가 다양한 데이터베이스를 사용함에 있어 차이나는 SQL 에 대해서
		     작성시 참조하는 정보 -->
		<property name="hibernate.dialect">
			org.hibernate.dialect.H2Dialect</property>
		<!-- S_EMP 테이블의 존재유무 확인 후, 없으면, 생성. 있으면, 기존 테이블 사용 -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- 하이버네이터에서 생성된  SQL를 로그로 출력 여부 설정 -->
		<property name="hibernate.show_sql">true</property>

		<!-- 엔티티 클래스 등록 -->
		<mapping class="com.rubypaper.persistence.hibernate.EmployeeVO" />
	</session-factory>

</hibernate-configuration>